html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    zoom: 0.67;
    font-family: 'Roboto', sans-serif;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

path, svg {
    pointer-events: none;
}

:root {
    --header-bg-ligth-theme: white;
    --header-bg-dark-theme: #2f2f2f;
    --html-bg-ligth-theme: white;
    --html-bg-dark-theme: #121212;
    --category-item-light-theme: white;
    --category-item-dark-theme: #2f2f2f;
    --font-color-light-theme: black;
    --font-color-dark-theme: white;

}


*::-webkit-scrollbar {
    width: 10px;
}

#dark-theme::-webkit-scrollbar, #dark-theme *::-webkit-scrollbar {
    background: var(--header-bg-dark-theme);
}

#light-theme::-webkit-scrollbar, #light-theme *::-webkit-scrollbar {
    background: var(--header-bg-ligth-theme);
}

#dark-theme::-webkit-scrollbar-thumb, #dark-theme *::-webkit-scrollbar-thumb {
    background: #aaaaaa;
}

#dark-theme::-webkit-scrollbar-thumb:hover, #dark-theme *::-webkit-scrollbar-thumb:hover {
    background: #717171;
}

#light-theme::-webkit-scrollbar-thumb, #light-theme *::-webkit-scrollbar-thumb {
    background: #606060;
}

#light-theme::-webkit-scrollbar-thumb:hover, #light-theme *::-webkit-scrollbar-thumb:hover {
    background: #909090;
}

::-webkit-scrollbar-thumb, * ::-webkit-scrollbar-thumb {
    border-radius: 1000px;
}

#light-theme::-webkit-scrollbar-thumb #light-theme *::-webkit-scrollbar-thumb {
    border: 4px solid var(--header-bg-ligth-theme);
}

#dark-theme::-webkit-scrollbar-thumb #dark-theme *::-webkit-scrollbar-thumb {
    border: 4px solid var(--header-bg-dark-theme);
}

.App {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    width: 1660px;
}

.category-item {
    max-width: 300px;
    height: 385px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    cursor: pointer;
    position: relative;

}


#light-theme .category-item {
    background: var(--category-item-light-theme);
}

#dark-theme .category-item {
    background: var(--category-item-dark-theme);
}

.category-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    scale: 1.05;
}


.category-item-not-selected {
    opacity: 0.9;
    filter: blur(2px);

}

.category-item-pic {
    /*background: black;*/
    height: auto;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto;
}

.category-item-title {
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    bottom: 40px;
    left: 0;
    right: 0;
    width: unset;
    position: absolute;
}

#light-theme .category-item-title {
    color: var(--font-color-light-theme);
}

#dark-theme .category-item-title {
    color: var(--font-color-dark-theme);
}

.category-item-pic-holder {
    max-width: 274px;
    max-height: 268px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    position: relative;
}

.categories {
    display: grid;
    justify-content: center;
    position: relative;
    gap: 40px;
    grid-template-columns: repeat(2, 300px);
    margin-top: 50px;
    width: 100%;
}


.header {
    position: fixed;
    width: 100%;
    height: 150px;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
}


#light-theme .header {
    background: var(--header-bg-ligth-theme);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#light-theme .link {
    color: black;
}

#dark-theme .header {
    background: var(--header-bg-dark-theme);
    /*box-shadow: 0 0 20px rgba(190, 190, 190, 0.3);*/
}

#dark-theme .link {
    color: white;
}

#dark-theme .active-link:before {
    background: white;
}

#light-theme .active-link:before {
    background: black;
}


.navigation {
    width: 1660px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.search-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    margin-right: 10px;
    cursor: pointer;
}


.search-panel {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.input {
    border-radius: 10px;
    border: black 1px solid;
    font-family: 'Roboto', sans-serif;;
    font-size: 24px;
    box-sizing: border-box;
    padding: 0 10px;
}

.input.result-visible {
    border-radius: 10px 10px 0 0;
    /*box-shadow: -300px -5px 10px rgba(0, 0, 0, 0.3);*/
}

.search-panel .input {
    opacity: 0;
    width: 150px;
    height: 45px;
    padding-right: 50px;
    transition: 0.3s all;
    pointer-events: none;
    outline: none;
}

#light-theme .search-panel .input {
    border: 1px solid black;
}

#dark-theme .search-panel .input {
    border: 1px solid white;
}

.search-panel .input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
    pointer-events: auto;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    pointer-events: none;
    position: relative;
}

.delete-search-value-icon {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    pointer-events: auto;
}

.delete-search-value-icon > * {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    width: 2px;
    border-radius: 20px;
    margin: auto;
}

#dark-theme .delete-search-value-icon > * {
    background: white;
}

.active-link {
    position: relative;
}


.search-title-text {
    cursor: pointer;
    transition: opacity 0.3s;
}

#dark-theme .search-result-wrapper {
    background: var(--category-item-dark-theme);
}

#light-theme .search-result-wrapper {
    background: var(--category-item-light-theme);
}

.search-result-wrapper {
    position: absolute;
    border-radius: 0 0 15px 15px;
    top: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.search-result-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px 0;
    overflow: hidden;
    /*overflow-y: scroll;*/
    /*max-height: 300px;*/
}

.search-result-item, .no-data-found {
    font-size: 24px;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
}

.no-data-found {
    cursor: default;
    justify-content: center;
}


#light-theme .search-result-item, #light-theme .no-data-found {
    color: var(--font-color-light-theme);
}

#dark-theme .search-result-item, #dark-theme .no-data-found {
    color: var(--font-color-dark-theme);
}

#light-theme .search-result-item:hover {
    background: lightgray;
}

#dark-theme .search-result-item:hover {
    background: #606060;
}


.search-result-item:hover {

}

/*.search-panel .input:focus + .search-title .search-title-text{*/
/*    opacity: 0;*/
/*    pointer-events: none;*/
/*    cursor: text;*/
/*}*/

.active-link:before {
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background: black;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -25%;
    opacity: 0.8;
    transition: width 0.25s;
}


.active-link:hover.active-link:before {
    opacity: 0.5;
    width: 80%;
}

.active-link:active.active-link:before {
    opacity: 0.4;
}

::-webkit-scrollbar-thumb:hover,
.link:hover,
.modal-window-button:hover,
.burger-menu-button:hover,
.close-sign-in-window:hover,
.eye-icon:hover,
.forgot-password-link:hover,
.continue-registration-button:hover,
.link-on-register-window:hover,
.search-title:hover {
    opacity: 0.75;
}

.link:active,
.modal-window-button:active,
.burger-menu-button:active,
.close-sign-in-window:active,
.eye-icon:active,
.forgot-password-link:active,
.continue-registration-button:active,
.link-on-register-window:active,
.search-title:active {
    opacity: 0.6;
}

.drop-down {
    position: relative;
}

.menu-drop-down {
    position: absolute;
    right: 0;
    pointer-events: none;
}

.drop-down-button {
    cursor: pointer;
    user-select: none;
    position: relative;
}

#dark-theme .drop-down-button {
    color: var(--font-color-dark-theme);
}

#light-theme .drop-down-button {
    color: var(--font-color-light-theme);
}

.menu-drop-down-wrapper, .burger-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 10;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
}

#light-theme .menu-drop-down-wrapper, #light-theme .burger-menu-wrapper {
    background: var(--category-item-light-theme);
}

#dark-theme .menu-drop-down-wrapper, #dark-theme .burger-menu-wrapper {
    background: var(--category-item-dark-theme);
}

.menu-drop-down-wrapper {
    transform: translateY(10%);
}

.menu-drop-down-visible {
    opacity: 100%;
    pointer-events: auto;
    transform: translateY(20%);
}

.menu-dropdown-option-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 15px 0;
}

.menu-drop-down-wrapper .menu-dropdown-option-list {
    width: 230px;
}

.menu-dropdown-option-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    cursor: pointer;
    user-select: none;
}

#light-theme .menu-dropdown-option-list-item {
    color: var(--font-color-light-theme);
}

#dark-theme .menu-dropdown-option-list-item {
    color: var(--font-color-dark-theme);
}

#light-theme .menu-dropdown-option-list-item:hover {
    background: lightgray;
}

#light-theme .menu-dropdown-option-list-item.selected-item {
    background: lightgray;
}

#dark-theme .menu-dropdown-option-list-item:hover {
    background: #606060;
}

#dark-theme .menu-dropdown-option-list-item.selected-item {
    background: #606060;
}


.burger-menu-button {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.burger-menu-button:active {
    transform: scale(0.98);
}


.burger-menu-button * {
    display: block;
    pointer-events: none;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    user-select: none;
    transition: 0.3s;
}

#light-theme .burger-menu-button * {
    background: black;
}

#dark-theme .burger-menu-button * {
    background: white;
    /*opacity: 0.9;*/
}

#burger-first-line {
    position: absolute;
    top: 0;
    left: 0;
}

#burger-third-line {
    visibility: hidden;
}

#burger-first-line, #burger-fourth-line {
    right: 0;
    left: 0;
    margin: 0 auto;
}

#burger-second-line, #burger-third-line {
    visibility: visible;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#burger-fourth-line {
    position: absolute;
    bottom: 0;
}

.popup-button-active #burger-first-line, .popup-button-active #burger-fourth-line {
    opacity: 0;
    width: 20%;
}

.popup-button-active #burger-first-line {
    transform: translateY(200%);
}

.popup-button-active #burger-fourth-line {
    transform: translateY(-200%);
}

.popup-button-active #burger-second-line {
    transform: rotate(45deg);
}

.popup-button-active #burger-third-line {
    transform: rotate(-45deg);
}

.burger {
    display: none;
    position: relative;
}

.burger-menu {
    position: absolute;
    width: 350px;
    right: -30px;
    top: 105px;
    pointer-events: none;
}

.burger-menu-wrapper {
    width: unset;
}

.burger-menu-visible {
    opacity: 1;
    pointer-events: auto;
    /*transform: translateX(-50%);*/
}

@media screen and (max-width: 1250px) {
    .categories {
        gap: 15px;
    }
}

@media screen and (max-width: 900px) {

    .category-item {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .category-item:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        scale: 1.01;
    }
}

@media screen and (max-width: 768px) {

    .logo {
        width: 120px;
        height: auto;
        display: flex;
    }

    .categories {
        grid-template-columns: repeat(auto-fit, 250px);
        gap: 10px;
        margin: 0 10px;
    }

    .category-item {
        width: 250px;
        height: 340px;
    }

    .category-item-title {
        font-size: 32px;
        bottom: 20px;
    }

    .header {
        height: 110px;
    }

    .navigation > *:nth-child(n+2):nth-child(-n+6) {
        display: none;
    }


    /*.search-panel{*/
    /*    position: absolute;*/
    /*    left: 50%;*/
    /*    !*right: 0;*!*/
    /*    transform: translateX(-50%);*/
    /*    !*display: flex;*!*/
    /*    !*justify-content: center;*!*/
    /*    !*margin: auto;*!*/
    /*}*/
    /*.search-panel .input{*/
    /*    opacity: 0.3;*/
    /*}*/
    .search-panel .input:focus {
        width: 400px;
    }

    .navigation:has(> .search-panel .input:focus) > *:first-child {
        display: none;
    }

    .navigation:has(> .search-panel .input:focus) > *:last-child {
        display: none;
    }

    .navigation:has(> .search-panel .input:focus) {
        justify-content: center;
    }

    .navigation {
        margin: 0 40px;
    }

    .burger {
        display: flex;
    }
}

/*.test-nav-links {*/
/*    margin-top: 100px;*/
/*    width: 500px;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    background: aqua;*/
/*}*/

/*.popup-menu {*/
/*    position: relative;*/
/*    margin: 10px 10px;*/
/*    background: bisque;*/
/*}*/

.popup-menu-content {
    position: absolute;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    /*padding: 10px 10px;*/
    /*top:50%;*/
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    transform: translateY(-10%);
    pointer-events: none;
}

.popup-menu-content.popup-menu-visible {
    opacity: 1;
    transform: translateY(10%);
    pointer-events: auto;
}

.sign-up-sign-in-window-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#light-theme .sign-up-sign-in-window-wrapper {
    background: rgba(0, 0, 0, 0.6);

}

#dark-theme .sign-up-sign-in-window-wrapper {
    background: rgba(0, 0, 0, 0.4);


    /*background: rgba(255,255,255,0.1);*/
}

.register-window {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: relative;
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
}

.register-window.sign-in-window {
    width: 460px;
    height: 490px;
}

.register-window.sign-up-window {
    width: 460px;
    height: 700px;
}

#light-theme .register-window {
    background: white;
}

#dark-theme .register-window {
    background: var(--html-bg-dark-theme)
}

#dark-theme .register-window-title, #dark-theme .change-register-window span {
    background-image: linear-gradient(30deg, #E81CFF, #40C9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dark-theme .input {
    background-image: linear-gradient(30deg, #E81CFF 35%, #40C9FF 65%);
}

#dark-theme .input {
    background: var(--category-item-dark-theme);
    color: white;
}

#dark-theme .eye-icon,
#dark-theme .forgot-password-link,
#dark-theme .change-register-window,
#dark-theme .registration-agreement,
#dark-theme .search-title * {
    color: white;
}

#dark-theme .close-sign-in-window > * {
    background: white;
}

.register-window-title {
    position: absolute;
    font-weight: 400;
    font-size: 40px;
    line-height: normal;
    left: 0;
    right: 0;
    top: 70px;
    text-align: center;
    user-select: none;
}

.register-window-input.input {
    width: 370px;
    height: 45px;
}

#password-input {
    padding-right: 40px;
}

.password-input {
    position: relative;
}

.eye-icon {
    position: absolute;
    bottom: 0;
    top: 0;
    height: unset;
    margin: auto;
    right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.close-sign-in-window {
    right: 20px;
    top: 20px;
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.close-sign-in-window > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    width: 95%;
    height: 4px;
    border-radius: 2px;
    margin: auto;
    transition: 0.1s;
}

#close-button-first-line, #delete-search-value-button-first-line {
    transform: rotate(45deg);
}

#close-button-second-line, #delete-search-value-button-second-line {
    transform: rotate(-45deg);
}

.close-sign-in-window:active #close-button-first-line, .close-sign-in-window:active #close-button-second-line {
    scale: 0.9;
}

.register-form {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 370px;
}

.sign-in-form {
    top: 150px;
    height: 220px;
}

.sign-up-form {
    top: 150px;
    height: 350px;
}

.forgot-password-link {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.continue-registration-button {
    color: white;
    border: none;
    border-radius: 40px;
    width: 300px;
    height: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
}

#sign-up-button:disabled {
    cursor: not-allowed;
}

/*.sign-up-form .continue-registration-button {*/
/*    margin-top: 20px;*/
/*}*/

#light-theme .continue-registration-button {
    background: black;
}

#dark-theme .continue-registration-button {
    background: linear-gradient(30deg, #E81CFF, #40C9FF);
}

.change-register-window {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: normal;
    cursor: default;
    user-select: none;
}

.link-on-register-window {
    font-weight: 400;
    cursor: pointer;
}

.registration-agreement {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#dark-theme .checkbox {
    accent-color: white;
}

#light-theme .checkbox {
    accent-color: black;
}

@media screen and (max-width: 400px) {


    /*.categories {*/
    /*    grid-template-columns: repeat(auto-fit,300px);*/
    /*}*/
    .burger-menu {
        position: fixed;
        width: unset;
        left: 5%;
        right: 5%;
        top: 145px;
    }

    .register-window.sign-in-window, .register-window.sign-up-window {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .register-window-title {
        font-size: 60px;
        top: 15%;
    }

    .register-form.sign-in-form {
        top: 30%;
        height: 280px;
    }

    .register-form.sign-up-form {
        top: 30%;
        height: 460px;
    }

    .change-register-window {
        bottom: 100px;
    }

    .register-window-input {
        height: 50px;
    }

    .continue-registration-button {
        height: 55px;
    }

    /*.menu-dropdown-option-list-item{*/
    /*    !*margin: 0 50px;*!*/
    /*    !*width: 100%;*!*/
    /*    padding: 10px 40px;*/
    /*}*/
    .flex-center .menu-dropdown-option-list-item {
        justify-content: center;
    }
}

/*@media screen and (max-width: 300px) {*/
/*    .popup-menu-content {*/
/*        position: fixed;*/
/*        top: 100px;*/
/*        left: 5%;*/
/*        right: 5%;*/
/*        width: unset;*/
/*        height: 200px;*/
/*        z-index: 100;*/
/*        !*margin: auto auto;*!*/
/*    }*/
/*}*/